{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleAboutUs.css') }}">
    <section id="mainSec">
        <img src="{{ url_for('static', filename='images/cow.png') }}" alt="Could Not Be Found" width="100">
        <p>
            Dairy Dash delivers fresh and organic dairy products on demand, right at your doorstep!
        </p>
    </section>
    <br>
    <section id="mainSec">
        <img src="{{ url_for('static', filename='images/cow.png') }}" alt="Could Not Be Found" width="100">
        <p>
            Dairy Dash delivers fresh and organic dairy products on demand, right at your doorstep!
        </p>
    </section>
    <br>
    <section id="mainSec">
        <img src="{{ url_for('static', filename='images/cow.png') }}" alt="Could Not Be Found" width="100">
        <p>
            Dairy Dash delivers fresh and organic dairy products on demand, right at your doorstep!
        </p>
    </section>

    <div class="clr"></div>
{% include "footer.html" %}
