{% include "header.html" %}
        {% if ordercount > 0 %}
          {% for order in orderlist %}
          <p> <b>Order number</b> {{ order["_id"] }} <br> <b>Order date</b> {{ order["orderdate"] }} <br> <b>Delivery Address</b> {{ order["address"] }}</p>
          <table class = "table">
            <tr><th>Product</th><th>Qty</th><th>Price</th><th>Subtotal</th></tr>
            {% for item in order["details"] %}
                      <tr><td>{{ item["name"] }}</td><td>{{ item["qty"] }}</td><td>{{ item["subtotal"]/item["qty"] }}</td><td>{{ item["subtotal"] }}</td></tr>
            {% endfor %}
            <tr><td><b>Total</b></td><td><b>{{ order["total"] }}</b></td></tr>
          </table>
          <hr>
          <br><br>
          {% endfor %}
        {% else %}
          <p>No orders have been made yet.</p>
        {% endif %}
{% include "footer.html" %}
